<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>/Home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>home</servlet-name>
    <jsp-file>/Home.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>list</servlet-name>
    <jsp-file>/List.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>signup</servlet-name>
    <jsp-file>/Signup.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>profile</servlet-name>
    <jsp-file>/Profile.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>edit</servlet-name>
    <jsp-file>/Edit.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>watch</servlet-name>
    <jsp-file>/Watch.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>portail</servlet-name>
    <jsp-file>/Animeportail.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>signIn</servlet-name>
    <jsp-file>/SignIn.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>anime</servlet-name>
    <jsp-file>/AdminPanel/Anime.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>episode</servlet-name>
    <jsp-file>/AdminPanel/Episode.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>season</servlet-name>
    <jsp-file>/AdminPanel/Season.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>type</servlet-name>
    <jsp-file>/AdminPanel/Type.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>user</servlet-name>
    <jsp-file>/AdminPanel/User.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>controllers.SignUp</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SignIn</servlet-name>
    <servlet-class>controllers.SignIn</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SignOut</servlet-name>
    <servlet-class>controllers.SignOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignIn</servlet-name>
    <url-pattern>/SignIn</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignOut</servlet-name>
    <url-pattern>/SignOut</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>list</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>signup</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>profile</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>edit</servlet-name>
    <url-pattern>/edit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>watch</servlet-name>
    <url-pattern>/watch/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>portail</servlet-name>
    <url-pattern>/anime/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>signIn</servlet-name>
    <url-pattern>/signin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>episode</servlet-name>
    <url-pattern>/panel/episode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>anime</servlet-name>
    <url-pattern>/panel/anime</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>season</servlet-name>
    <url-pattern>/panel/season</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>type</servlet-name>
    <url-pattern>/panel/type</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>user</servlet-name>
    <url-pattern>/panel/user</url-pattern>
  </servlet-mapping>
                                               <!--		 .::|	ERROR Pages 	|::.	 -->
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
  
   <error-page>
    <error-code>500</error-code>
    <location>/500.jsp</location>
  </error-page>
  <filter>
    <filter-name>userSignIn</filter-name>
    <filter-class>controllers.filters.UserSignInFilter</filter-class>
  </filter>
  <filter>
    <filter-name>adminSignIn</filter-name>
    <filter-class>controllers.filters.AdminSignInFilter</filter-class>
  </filter>
  <filter>
    <filter-name>alreadySigned</filter-name>
    <filter-class>controllers.filters.AlreadySignedFilter</filter-class>
  </filter>
  <filter>
    <filter-name>watchFilter</filter-name>
    <filter-class>controllers.filters.WatchFilter</filter-class>
  </filter>
  
    <filter>
    <filter-name>animeFilter</filter-name>
    <filter-class>controllers.filters.AnimeFilter</filter-class>
  </filter>
  
  <filter-mapping>
    <filter-name>userSignIn</filter-name>
    <url-pattern>/profile</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>userSignIn</filter-name>
    <url-pattern>/edit</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>alreadySigned</filter-name>
    <url-pattern>/signin</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>alreadySigned</filter-name>
    <url-pattern>/signup</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>userSignIn</filter-name>
    <url-pattern>/panel/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>adminSignIn</filter-name>
    <url-pattern>/panel/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>watchFilter</filter-name>
    <url-pattern>/watch/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
    <filter-name>animeFilter</filter-name>
    <url-pattern>/anime/*</url-pattern>
  </filter-mapping>
</web-app>